{% load static %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up Form</title>
    <link rel="stylesheet" href="{% static "sign_up/style.css" %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="form-wrapper">
        <div class="banner">
          <h1>Hello, Friend!</h1>
          <p>or use your email for registration</p>
        </div>
        <div class="green-bg">
          <div class="social">
            <ul>
                <li href="{% provider_login_url 'google' %}"><img src="{% static "sign_up/images/gmail.png" %}"></li>
                <li><img src={% static "sign_up/images/outlook.png" %}></li>
                <li><img src={% static "sign_up/images/facebook.png" %}></li>
            </ul>
        </div>
        </div>
        <form class="signup-form">
          <h1>Create Account</h1>
          <div class="input-group">
            <i class="fas fa-user"></i>
            <input type="text" name="username" placeholder="UserName" />
          </div>
          <div class="input-group">
            <i class="fas fa-envelope"></i>
            <input type="email" name="email" placeholder="Email" />
          </div>
          <div class="input-group">
            <i class="fas fa-lock"></i>
            <input type="password" name="password" placeholder="Password" />
          </div>
          <div class="input-group">
            <i class="fas fa-lock"></i>
            <input type="password" name="confirm_password" placeholder="Comfirm Password" />
          </div>
          <div class="terms">
            <input type="checkbox" id="terms">
            <label for="terms">Remember Me</label>
          </div>
          <button type="button">Sign Up</button>
        </form>
      </div>
    </div>
  </body>
</html>
