{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Form</title>
    <link rel="stylesheet" href="{% static 'sign_up/style.css' %}">
</head>
<body>
    <div class="screen">
        <div class="signup-box">
            <div class="left-box">
                <div class="line"></div>
                <form action="{% provider_login_url 'google' %}" method="post">
                    {% csrf_token %}
                    <button type="submit"><img src="{% static 'sign_up/images/gmail.png' %}">Sign in with Google</button>
                </form>
                <form action="{% provider_login_url 'facebook' %}" method="post">
                    {% csrf_token %}
                    <button type="submit"><img src="{% static 'sign_up/images/facebook.png' %}">Sign in  with Facebook</button>
                </form>
            </div>
            <div class="right-box">
                <form method="post">
                    {% csrf_token %}
                    <h1>Sign In</h1>
                    <input type="text" placeholder="Username Or E-mail" name="name_email" required class="input-box">
                    <input type="password" placeholder="Password" name="password" required class="input-box">
                    <div class="link-signup">Forgot Password? <a href="#">Click Me.</a></div>
                    <button type="submit">Sign In</button>
                    <p class="link-signup">Don't have an account? <a href="{% url 'register:regis' %}">Sign up.</a></p>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
