<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up Form</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="screen">
        <div class="signup-box">
            <div class="left-box">
                <div class="line"></div>
                <button type="button"><img src="images/gmail.png">Connect with Google</button>
                <button type="button"><img src="images/outlook.png">Connect with Outlook</button>
                <button type="button"><img src="images/facebook.png">Connect with facebook</button>
            </div>
            <div class="right-box">
                <form>
                    <h1>Sign In</h1>
                    <input type="text" placeholder="Username Or E-mail" required class="input-box">
                    <input type="text" placeholder="Password" required class="input-box">
                    <div class="link-signup">Forgot Password? <a href="#">Click Me.</a></div>
                    <button type="submit">Sign In</button>
                    <p class="link-signup">Don't have an account? <a href="#">Sign up.</a></p>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
