{% load static %}

<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="style.css">
        <script src="https://kit.fontawesome.com/9ecd69c030.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <section >
            <div class="container">
                <div class="user singinBx">
                    <div class="imgBx"><img src="images/img2.jpg"></div>
                    <div class="formBx">
                        <form>
                            <h2>Create an account</h2>
                            <input type="text" name="" placeholder="Username">
                            <input type="email" name="" placeholder="Email Address">
                            <input type="password" name="" placeholder="CreatePassword">
                            <input type="password" name="" placeholder="Confirm Password">
                            <button type="submit">SIGN UP <span>&#x27f6;</span></button>
                        </form>
                    </div>
                </div>
            </div>        
        </section>
    </body>
</html> 