<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up Form</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="screen">
        <div class="signup-box">
            <div class="left-box">
                <div class="line"></div>
                <button type="button"><img src="images/gmail.png">Create with Google</button>
                <button type="button"><img src="images/outlook.png">Create with Outlook</button>
                <button type="button"><img src="images/facebook.png">Create with facebook</button>
            </div>
            <div class="right-box">
                <form>
                    <h1>Sign Up</h1>
                    <input type="text" placeholder="Username" required class="input-box">
                    <input type="text" placeholder="E-mail" required class="input-box">
                    <input type="text" placeholder="Create Password" required class="input-box">
                    <input type="text" placeholder="Confirm Password" required class="input-box">
                    <button type="submit">Sign Up</button>
                    <p class="link-signup">Already have an account? <a href="#">Sign up.</a></p>
                </form>
            </div>
        </div>
    </div>
</body>
</html>

