@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popping', sans-serif;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#2b1955, #7597de);
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

section::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #1c0522, transparent);
    z-index: 1000;
    margin-top: 38%;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section img#moon {
    mix-blend-mode: screen;
}

section img#logo {
    mix-blend-mode: screen;
    margin-left: 20%;
    margin-top: 12%;
    width: 60%;
    height: auto;
}

section img#mountains_front {
    
}

.sec {
    position: relative;
    padding: 100px;
    background: #1c0522;
}

.sec h2 {
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
}

.sec .link {
    transform: translate(38%, 3%);
    display: flex;
    margin-top: 80px;
    color: #fff;
    padding: 30px;
    text-align: center;
}

.sec .link img {
    width: 150px;
    height: 150px;
    padding: 20px;
    margin-right: 40px;
}

.sec p {
    font-size: 1.2em;
    color: #fff;
}

.WebContainer{
    width: 100%;
    height: auto;
}
.articles{
    width:90%;
    height: auto;
    margin: auto;
} 

.container
{
   display: flex;
   margin-top: 50px;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}
.container .card
{
   width: 250px;
   height: 416px;
   padding: 60px 30px;
   margin: 20px;
   background: #f2f3f7;
   border-radius: 20px;
}
.container .card .content
{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.container .card .content .imgBx
{
   width: 180px;
   height: 180px;
   border-radius: 50%;
   position: relative;
   margin-bottom: 20px;
   overflow: hidden;
}
.container .card .content .imgBx img
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.container .card .content .contentBx h4
{
   color: #36187d;
   font-size: 1.7rem;
   font-weight: bold;
   text-align: center;
   letter-spacing: 1px;
}
.container .card .content .contentBx h5
{
   color: #6c758f;
   font-size: 1.2rem;
   font-weight: bold;
   text-align: center;
}