{% load static %}
<html>
<head>
    {% load static %}
    <meta charset="UFT-8">
    <meta name="viewport" content="width=device-eidth, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'userProfile/style.css' %}">
</head>
<body>
    <nav class="flex-div">
        <div class="nav-left flex-div">
            <ul>
            <a href="/"><img src="{% static 'homepage/images/logo.png' %}" class="logo"></a>
                <div class="image nav-left">
                    <img src="{% url 'userProfile:user_picture' user_id %}" width="150" height="150" class="image" style="width:65%">
                </div>
        
            </ul>
            <ul>
                <p>
                    <h1 class="flex-div">{{alias_name}}</h3>
                    {{username}}
                </p>
                <div class="detail">
                    <p class="detail">age: {{age}}</p>
                    <p class="detail">Gender: {{ Gender }}</p>
                    <p>Occupation: {{ Occupation}}</p>
                </div>
                <div class="bio">
                    <p>bio: {{bio}}</p>
                </div>
            </ul>
        </div>
    </nav>

    <section class="product"> 
        <h3 class="product-category">{{username}}'s Books</h3>
        <button class="pre-btn"><img src="{% static 'homepage/images/arrow.png' %}"></button>
        <button class="nxt-btn"><img src="{% static 'homepage/images/arrow.png' %}"></button>
        <div class="product-container">
            {% for my_book in my_books %}
            <div class="product-card">
                <div class="product-image">
                    <img src="/media/{{ my_book.id }}/{{ my_book.thumbnail }}" class="product-thumb">
                    <a href="{% url 'book_views:book' my_book.book_id %}" class="sub-menu-link">
                    <button class="card-btn">Read</button></a>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">{{ my_book.book_name }}</h2>
                    <p class="product-short-description">{{ my_book.description }}</p>
                </div> 
            </div>
            {% endfor %}
        </div>
    
        <h3 class="product-category">{{username}}'s Popular Books</h3>
        <button class="pre-btn"><img src="{% static 'homepage/images/arrow.png' %}"></button>
        <button class="nxt-btn"><img src="{% static 'homepage/images/arrow.png' %}"></button>
        <div class="product-container">
            {% for my_book in my_books %}
            <div class="product-card">
                <div class="product-image">
                    <img src="/media/{{ my_book.id }}/{{ my_book.thumbnail }}" class="product-thumb">
                    <a href="{% url 'book_views:book' my_book.book_id %}" class="sub-menu-link">
                    <button class="card-btn">Read</button></a>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">{{ my_book.book_name }}</h2>
                    <p class="product-short-description">{{ my_book.description }}</p>
                </div> 
            </div>
            {% endfor %}
        </div>
    </section>
    
    <div class="user_review">
        
    </div>

    <script src="{% static 'userProfile/script.js' %}"></script>
</body>

</html>


    
    