* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
    color: #5a5a5a;
  }
  
  img {
    cursor: pointer;
  }
  
  .flex-div {
    display: flex;
    align-items: center;
  }
  
  nav {
    padding: 0 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background: rgb(55, 27, 198);
    top: 0;
    z-index: 10;
  }
  
.nav-right h1 {
    color: #fff;
    margin-right: 250px;
  }
  
.nav-right .addbook-icon {
    width: 35px;
    height: 35px;
}
  
  .nav-left .logo {
    width: 200px;
  }





.report_head .report{
    position: flex;
    width: 10%;
    background: rgb(251, 250, 250);
    padding: 10px;
    border: 0;
    margin-left: 10px;
    color: rgb(134, 162, 223);
    outline: none;
    font-size: 30px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 25px;
    transition: background 0.2s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}




.card {
    width: 94.6%;
    height: 400px;
    transform: translate(3%,3%);
    overflow: hidden;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0,5);
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.5);
    z-index: 10;
  } 
  
  .card-profile{
    height: 80px;
    background: rgb(55, 27, 198);;
  }
  
  .image-profile{
    padding: 15px;
    transform: translate(100px,100px);
  }
  
  .card-profile .name {
    font-size: 25px;
    text-align: left;
    margin-left: 300px;
    margin-top: 10px;
  }
  
  .image-profile img{
    width: 120px;
    height: 190px;
  }
  
  .card-profile a {
    font-size: 16px;
    font-weight: 400;
    color: rgb(203, 122, 0);
    text-decoration: none;
    margin-left: 20px;
    transition: 0.2s;
  }
  
  .card-profile a:hover {
    color: rgb(255, 153, 0);
  }
  
  .card-content {
    margin-top: 50px;
  }
  
  .card-content h2 {
    text-align: left;
    margin-left: 30%;
    padding: 0 20px 20px 20px;
  }
  
  .card-content p{
    margin-left: 70px;
    font-size: 16px;
    text-align:left;
    padding: 0 50px 50px 20px;
  }

.message {
    margin-top: 40px;
    padding: 10px 50px 50px 20px;
    text-align:left;
    font-size: 16px;
    margin-left: 30%;

}


.flex-div .nav-right .logout {
  position: flex;
  width: 20%;
  margin-left: 25%;
  background: rgb(253, 168, 41);
  padding: 10px;
  border: 0;
  color: #fff;
  outline: none;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.2s;
}

.flex-div .nav-right .logout:hover {
  background: rgb(255, 153, 0);
}