* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

body{
    justify-content: center;
    align-items: center;
    background: #fff;
  }

.card {
  width: 94.6%;
  height: 560px;
  transform: translate(3%,3%);
  overflow: hidden;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0,5);
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.5);
  z-index: 10;
} 

.card-profile{
  height: 50px;
  background: rgb(254, 157, 12);
}

.image-profile{
  padding: 0 -20px 50px;
  transform: translate(100px,100px);
  margin-bottom: 10%;
}

.card-profile .name {
  font-size: 25px;
  text-align: left;
  margin-left: 300px;
  margin-top: 10px;
}

.image-profile img{
  width: 300px;
  height: 390px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

}

.card-profile a {
  font-size: 16px;
  font-weight: 400;
  color: rgb(203, 122, 0);
  text-decoration: none;
  margin-left: 20px;
  transition: 0.2s;
}

.card-profile a:hover {
  color: rgb(255, 153, 0);
}

.card-content {
  margin-top: 80px;
}

.card-content .title {
    margin-bottom: 30px;
    margin-left: 40%;
    text-align:left;
    padding: 0 1px 10px 20px;
    font-size: 50px;
}

.card-content h1 {
    font-size: 14px;
    margin-left: 40.4%;
    text-align:left;
    padding: 0 1px 10px 20px;
    color: rgb(96, 96, 96);
  }

.card-content p{
  margin-left: 37%;
  font-size: 16px;
  text-align:left;
  padding: 0 50px 50px 20px;
  padding-top: 20px;
}

.card .card-content button {
    transform: translate(470px,2px);
    padding-bottom: 10px;
}

.card-content .open {
    width: 12%;
    margin-left: 1%;
    background: rgb(255, 89, 39);
    padding: 10px;
    border: 0;
    color: #fff;
    outline: none;
    font-size: 16px;
    margin-top: 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.2s;
}

.card-content .open:hover {
    background: rgb(232, 54, 0);
}

.card-content .open h2 {
    font-size: 16px;
}

.card-content .feedback {
    width: 8%;
    margin-left: 1%;
    background: rgb(253, 168, 41);
    padding: 10px;
    border: 0;
    color: #fff;
    outline: none;
    font-size: 16px;
    margin-top: 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.2s;
}

.card-content .feedback:hover {
    background: rgb(255, 153, 0);
}

.card-content .cancle {
    width: 8%;
    margin-left: 3%;
    background: rgb(41, 41, 41);
    padding: 10px;
    border: 0;
    color: #fff;
    outline: none;
    font-size: 16px;
    margin-top: 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.2s;
}

.card-content .cancle:hover {
    background: rgb(0, 0, 0);
}

.card .book-tag {
    margin-top: 10%;
    margin-left: 7%;
}

.card .book-tag .type h2 {
    font-size: 12px;
}

.card .book-tag .type {
    background: #e2dded;
    padding: 2px;
    border: 0;
    color: #fff;
    outline: none;
    font-size: 10px;
    margin: 3px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.2s;
}

.card .book-tag .type:hover {
    background: #c1b6da;
}

.product {
  position: relative;
  overflow: hidden;
  padding: 20px;
}

.product-category {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: capitalize;
}

.product-container {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 auto;
  width: 250px;
  height: 450px;
  margin-right: 40px;
  transition: 0.5s;
}

.product-card:hover {
    transform: scale(1.04);
  }

.product-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.5);
}

.product-thumb {
  flex: 0 0 auto;
  transform: scale(1.04);
  overflow: hidden;
  width: 250px;
  height: 350px;
  object-fit: cover;
  margin-right: 40px;
  transition: 0.5s;
}

.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background: #ff7d7d;
  color: #fff;
}

.product-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}

.product-brand {
  text-transform: uppercase;
}

.product-short-description {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}
