<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="card">
        <div class="card-profile">
            <div class="reportbook">
                <h2>Reporting Book...</h2><p>book_id</p>
            </div>
            <div class="image-profile">
                <img src="images/img1.jpg">
            </div>
            <div class="name">
                <h1>Title</h1>
                <input type="text" placeholder="Title" required class="input-edit">
            </div>
        </div>
        <div class="card-content">
            <h1>what do you report for?</h1>
            <textarea type="text" cols="40" rows="5" placeholder="Enter your opinions here..."></textarea>
        </div>
        <div class="button">
            <button class="confirm" type="submit">Report</button>
            <button class="cancle" type="submit">Cancle</button>
        </div>
    </div>
</body>
</html>