{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile</title>
    <link rel="stylesheet" href="{% static 'issue/style.css' %}">
</head>
<body>
    <div class="card">
        <div class="card-profile">
        <form method="post">
        {% csrf_token %}
            <div class="reportbook">
                <h2>Issue for {{ book.book_name }}</h2><p>{{ book.book_id }}</p>
            </div>
            <div class="image-profile">
                <img src="{% url 'book_views:book_thumbnail' book.book_id %}">
            </div>
            <div class="name">
                <h1>Title</h1>
                <input type="text" placeholder="Title" name="title" required class="input-edit">
            </div>
        </div>
        <div class="card-content">
            <h1>what issue(s) do you have?</h1>
            <textarea type="text" cols="40" rows="5" placeholder="Your issues..." name="msg"></textarea>
        </div>
        <div class="button">
            <button class="confirm" type="submit">Issue</button>
        </div>
    </form>
    <div class="button">
        <form action="../">
            <button class="cancle" type="submit">Cancel</button>
        </form>
    </div>
    </div>
</body>
</html>