{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UFT-8">
    <meta name="viewport" content="width=device-eidth, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'admin_page/style.css' %}">
</head>
<body>
    <nav class="flex-div">
        <div class="nav-left flex-div">
            <img src="{% static 'admin_page/images/logoadmin.png' %}" class="logo">
        </div>
        <div class="nav-middle flex-div">

        </div>
        <div class="nav-right">
            <h1>Hello, {{username}}</h1>
            <button class="logout" type="submit">back to homepage</button>
            <button class="logout" type="submit">Django admin</button>
            <button class="logout" type="submit">Log Out</button>
        </div>
    </nav>
    <div class="report_head">
        <button class="report" type="submit">Reports</button>
    </div>

    {% for report in reports %}
    <div class="card">
        <div class="card-profile">
            <div class="image-profile">
                <img src="{{ report.book_refer.thumbnail.url }}" />
            </div>
        </div>
        <div class="card-content">
            <h2>Book name: {{report.book_refer.book_name}} ({{ report.book_refer.book_id }})</h2>
            <h2>From: {{ report.reporter.username }} ({{ report.reporter.username }})</h2>
            <h2>Title: {{ report.title }}</h2>
        </div>
        <div class="message">
            <h2>Message:</h2>
            <p>{{ report.msg }}</p>
        </div>
            

    </div>
    {% empty %}
            <h2>Nothing to report!</h2>
    {% endfor %}
</body>
</html>