{% load static %}
<html>
<head>
    <meta charset="UFT-8">
    <meta name="viewport" content="width=device-eidth, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'homepage/style.css' %}">
</head>
<body>
    {% block function_block %}
    <nav class="flex-div">
        <div class="nav-left flex-div">
            <img src="{% static 'homepage/images/menu.png' %}" class="menu-icon" onclick="toggleTab()">
            <a href="/"><img src="{% static 'homepage/images/logo.png' %}" class="logo"></a>
            
        </div>
        <div class="sub-tab-wrap" id="subTab">
            <div class="sub-tab">
                <a href="../Undiscovered" class="sub-menu-link">
                    <p>Undiscovered</p>
                    <span>></span>
                </a>
                <a href="../Popular_today" class="sub-menu-link">
                    <p>Popular today</p>
                    <span>></span>
                </a>          
                <a href="../Popular_week" class="sub-menu-link">
                    <p>Popular this week</p>
                    <span>></span>
                    </a>
                <a href="../Highest_rating_today" class="sub-menu-link">
                    <p>Highest rating today</p>
                    <span>></span>
                </a>
                <a href="../Highest_rating_week" class="sub-menu-link">
                    <p>Highest rating this week</p>
                    <span>></span>
                </a>
                <a href="../Recently" class="sub-menu-link">
                    <p>Recently update</p>
                    <span>></span>
                </a>
            </div>
        </div>
        <div class="nav-middle flex-div">
            <div class="search-box flex-div">
                <form action="" method="get" >
                <input name="query"  class="search" type="text" placeholder="Search" >
                <button class="button"><img src="{% static 'homepage/images/search.png' %}" ></button>
                </form>
            </div>
            <img src="{% static 'homepage/images/filter.png' %}" class="filter-icon" onclick="toggleFilter()">
        </div>
        <div class="sub-filter-wrap" id="subFilter">
            <div class="sub-filter">
                <form action="", method="get">
                    <div class="select-menu">
                        <div class="select-btn">
                            <span class="sBtn-text">Select your option</span>
                            <i class="bx bx-chevron-down"></i>
                        </div>
                        <ul class="options">Z
                            <li class="option">z
                                <option name="Education" class="option-text" value="Select your option">Education</option>
                            </li>
                            <li class="option">
                                <option name="Education" class="option-text" value="Select your option">Entertain</option>
                                <span class="option-text">Entertain</span>
                            </li>
                        </ul>
                    </div>
                </form>

                <form action="" method="get" >
                <a class="sub-filter-link">
                    <input type="checkbox" name="oldTolate">
                    <p>Oldest to Latest</p>
                </a>
                <a class="sub-filter-link">
                    <input type="checkbox" name="zToa">
                    <p>Z to A</p>
                </a>
                <a class="sub-filter-link">
                    <input type="checkbox" name="lowTohigh">
                    <p>lowest rating to Highest rating</p>
                </a>
                <a class="sub-filter-link">
                    <input type="checkbox" name="lowviewTohighView">
                    <p>lowest rating to Highest view</p>
                </a>
                <input type="submit" value="Confirm">
                </form>
            </div>
        </div>
        <div class="nav-right flex-div">
            <a href="{% url 'book_views:create_book' %}" >
            <img src="{% static 'homepage/images/addbook.png' %}" class="addbook">
            </a>

            {% if not is_user_authenticated %} 
            <img src="{% static 'homepage/images/img1.jpg' %}" class="user-icon" onclick="toggleMenu()">
            {% else %}
                {% if not user.profile_pic %}
                <img src="{% static 'homepage/images/img1.jpg' %}" class="user-icon" onclick="toggleMenu()">
                {% else %}
                <img src="{{ user.profile_pic.url }}" class="user-icon" onclick="toggleMenu()">
                {% endif %}
            {% endif %}

        </div>
        <div class="sub-menu-wrap" id="subMenu">
            <div class="sub-menu">
               <div class="user-info">
                    {% if not is_user_authenticated %} 
                    <img src="{% static 'homepage/images/img1.jpg' %}">
                    {% else %}
                        {% if not user.profile_pic %}
                        <img src="{% static 'homepage/images/img1.jpg' %}">
                        {% else %}
                        <img src="{{ user.profile_pic.url }}">
                        {% endif %}
                    {% endif %}
                    {% if not is_user_authenticated %}
                    <h3>Annoymous</h3>
                    {% else %}
                        {% if user.alias_name %}
                        <h3>{{user.alias_name}}</h3>
                        {% else %}
                        <h3>{{user.username}}</h3>
                        {% endif %}
                    {% endif %}
                </div>
                <hr>
                {% if is_user_authenticated %}
                <a href="{% url 'userProfile:editProfile' user.user_id %}" class="sub-menu-link">
                   <img src="{% static 'homepage/images/profile.png' %}">
                   <p>Edit Profile</p>
                </a>
                {% else %}
                <a href="{% url 'register:regis' %}" class="sub-menu-link">
                   <img src="{% static 'homepage/images/sign up.png' %}">
                   <p>Sign Up</p>
               </a>
               {% endif %}
               <a href="{% url 'MAIN_APP:about' %}" class="sub-menu-link">
                    <img src="{% static 'homepage/images/about.png' %}">
                    <p>About</p>
                </a>
                <a href="#" class="sub-menu-link">
                    <img src="{% static 'homepage/images/setting.png' %}">
                    <p>Settings & Support</p>

                </a>
                {% if is_user_authenticated %}
                <form action="{% url 'MAIN_APP:sign_out' %}">
                    <button type="submit" class="out-button">Sign Out</button>
                </form>
                {% else %}
                <form action="{% url 'register:log_in' %}">
                    <button type="submit" class="in-button">Sign In</button>
                </form>
                {% endif %}
            </div>
        </div>
    </nav>
    
    <script src="{% static 'homepage/script_homepage.js' %}"></script>
    {% endblock %}
    {% block body %}
    {% endblock %}

</body>
</html>