* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
  }

  body {
    display: flex;
  }


  .card{
    width: 1000px;
    position: center;
    height: 600px;
    margin-left: 20px;
    margin-top: 20px;
    overflow: hidden;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    position: sticky;
  }
  
  .card-image img{
    width: 100%;
    height: 160px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
  }
  
  .profile-image img{
    z-index: 1;
    width: 120px;
    height: 120px;
    position: relative;
    margin-top: -75px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    border: 10px solid #fff;
    transition-duration: 0.4s;
    transition-property: transform;
  }
  
  .profile-image img:hover{
    transform: scale(1.1);
  }
  
  .card-content h3{
    font-size: 25px;
    text-align: center;
    margin: 0;
  }
  
  .card-content p{
    font-size: 16px;
    text-align: center;
    color: rgb(139, 139, 139);
    padding: 0 20px 5px 20px;
  }

  .bio p {
    font-size: 16px;
    text-align: center;
    color: rgb(69, 69, 69);
    padding: 0 20px 5px 20px;
  }

.his {
    margin-top: 40px;
    padding: 40px;
    font-size: 12px;
}





.product {
  position: relative;
  overflow: hidden;
  padding: 20px;
}

.product-category {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: capitalize;
}

.product-container {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 auto;
  width: 250px;
  height: 450px;
  margin-right: 40px;
  transition: 0.5s;
}

.product-card:hover {
    transform: scale(1.04);
  }

.product-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.5);
}

.product-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background: #ff7d7d;
  color: #fff;
}

.product-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}

.product-brand {
  text-transform: uppercase;
}

.product-short-description {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

.collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collection {
  position: relative;
}

.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}

.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
}