{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static "homepage/style.css" %}">
</head>
<body>
    <header>
        <a href="#" class="logo">Logo</a>
        <ul>
            <li><a href="../registeration">Sign-in/Signup</a></li>
            <li><a href="#">Follow</a></li>
            <li><a href="{% url 'MAIN_APP:about' %}">About</a></li>
        </ul>
        <form action="{% url 'MAIN_APP:search' %}" class="container" method="get" role="search">
            <div class="search_wrap">
                <div class="search_box">
                    <input name="q" type="text" class="input" placeholder="Search..." aria-label="Search">
                    <button class="btn" type="submit">Search</button>
                </div>
            </div>
        </form>
        <div class="sidenav">

  <a href="#about">About</a>

  <button class="dropdown-btn">Dropdown

    <i class="fa fa-caret-down"></i>

  </button>

  <div class="dropdown-container">

    <a href="#">Link 1</a>

    <a href="#">Link 2</a>

    <a href="#">Link 3</a>

  </div>

  <a href="#contact">Search</a>

</div>
        
    </header>
    
    .sidenav {

  height: 100%;

  width: 200px;

  position: fixed;

  z-index: 1;

  top: 0;

  left: 0;

  background-color: #111;

  overflow-x: hidden;

  padding-top: 20px;

}
    .sidenav a, .dropdown-btn {

  padding: 6px 8px 6px 16px;

  text-decoration: none;

  font-size: 20px;

  color: #818181;

  display: block;

  border: none;

  background: none;

  width:100%;

  text-align: left;

  cursor: pointer;

  outline: none;

}
    .sidenav a:hover, .dropdown-btn:hover {

  color: #f1f1f1;

}

/* Main content */

.main {

  margin-left: 200px; /* Same as the width of the sidenav */

  font-size: 20px; /* Increased text to enable scrolling */

  padding: 0px 10px;

}

/* Add an active class to the active dropdown button */

.active {

  background-color: green;

  color: white;

}
    .dropdown-container {

  display: none;

  background-color: #262626;

  padding-left: 8px;

}

/* Optional: Style the caret down icon */

.fa-caret-down {

  float: right;

  padding-right: 8px;

}
    <section class="banner"></section>
    <script type="text/javascript">
        var dropdown = document.getElementsByClassName("dropdown-btn");

var i;

for (i = 0; i < dropdown.length; i++) {

  dropdown[i].addEventListener("click", function() {

    this.classList.toggle("active");

    var dropdownContent = this.nextElementSibling;

    if (dropdownContent.style.display === "block") {

      dropdownContent.style.display = "none";

    } else {

      dropdownContent.style.display = "block";

    }

  });

}
        window.addEventListener("scroll", function(){
            var header = document.querySelector("header");
            header.classList.toggle("sticky", window.scrollY > 0);
        })
    </script>
</html>

