{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UFT-8">
    <meta name="viewport" content="width=device-eidth, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'homepage/style.css' %}">
</head>
<body>
  <section class="product"> 
    <h2 class="product-category">{{ m }}</h2>
    <button class="pre-btn"><img src="{% static 'homepage/images/arrow.png' %}"></button>
    <button class="nxt-btn"><img src="{% static 'homepage/images/arrow.png' %}"></button>
    <div class="product-container">
        <div class="product-card">
            <div class="product-image">
                <img src="{% static 'homepage/images/card1.jpg' %}" class="product-thumb">
                <button class="card-btn">Open Me</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">BOOK</h2>
                <p class="product-short-description">Its long story..</p>
            </div>
        </div>
        {% for book in context %}
            <div class="product-card">
                <div class="product-image">
                    <img src="/media/{{ book.id }}/{{ book.thumbnail }}" class="product-thumb"> {{ book.thumbnail }}
                    <button class="card-btn">Open Me</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">{{ book.book_name }}</h2>
                    <p class="product-short-description">Its long story..</p>
                </div>
            </div>
        {% endfor %}
        <div class="product-card">
            <div class="product-image">
                <img src="images/card3.jpg" class="product-thumb">
                <button class="card-btn">Open Me</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">BOOK</h2>
                <p class="product-short-description">Its long story..</p>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="images/card4.jpg" class="product-thumb">
                <button class="card-btn">Open Me</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">BOOK</h2>
                <p class="product-short-description">Its long story..</p>
            </div>
        </div>
    </div>

</section>

  <script type="text/javascript" src="{% static 'homepage/script.js' %}"></script>

</body>
</html>