{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UFT-8">
    <meta name="viewport" content="width=device-eidth, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'review_view/style.css' %}">
</head>
<body>
    <nav class="flex-div">
        <div class="nav-left flex-div">
            <img src="{% static 'review_view/images/logo.png' %}" class="logo">
        </div>
        <div class="nav-middle flex-div">
            <h2>{{ book_name}}'s reviews</h2>
            <p>({{ book_id }})</p>
        </div>
        <div class="nav-right">
            <form action="../create_review">
            <button class="create" type="submit">Create a review</button>
            </form>
        </div>
    </nav>
   
    {% for book in books %}
    <div class="card">
        <div class="card-profile"></div>
        <div>
        <div class="container">
            <img src="{{ book.reviewer.profile_pic.url}}" />
            <div class="card-content">
                <a href="{% url 'userProfile:user_profile' book.reviewer.user_id %}">
                <p>{{ book.review_date }}</p>
                {% if book.reviewer.alias_name %}
                <h3>{{ book.reviewer.alias_name}} ({{ book.reviewer.username }})</h3>
                {% else %}
                <h3>{{ book.reviewer.username }}</h3>
                {% endif %}
                </a>
                <h3>Title: {{ book.title }}</h3>
                <h4>Rate: {{ book.score }}/5</h4>
            </div>
        </div>
        </div>
        {% if book.msg|length %}
        <div class="message">
            <h3>Comment:</h3>
            <div>{{ book.msg }}</div>
        </div>
        {% endif %}
    </div>
    {% empty %}
    <div class="card">
        <div class="card-profile"></div>
        <h3 style="margin: auto; margin-top: 20px; margin-bottom: 20px; text-align: center;">There is no review here. Create your own!</h3>
    </div>
    {% endfor %}

    <nav class="bottom-flex-div">
        {% if page_prev != 0 %}
        <div class="nav-left">
            <form action="../{{ page_prev }}">
            <button class="page_button" type="submit">Previous Page</button>
            </form>
        </div>
        {% endif %}
        <div class="nav-left bottom-flex-div">
        </div>
        {% if books|length == 8 %}
        <div class="nav-right">
            <button class="page_buttion" type="submit">Next Page</button>
        </div>
        {% endif %}
    </nav>
</body>
</html>