@import url('http://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    background: #fff;
    min-height: 200vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
}
header.sticky {
    padding: 5px 100px;
    background: rgb(224, 157, 0);
}

header .logo {
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
    display: inline-block;
}

header ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: rgb(163, 110, 5);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

header ul li:hover::after {
    width: 100%;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;

}

.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('images/background.jpg');
}

header.sticky .logo,
header.sticky ul li a {
    color: #000;
}

header .container .input {
    border: 0;
    outline: none;
    color: #8b7d77;
}

header .container .search_wrap {
    width: 200px;
}

header .container .search_wrap .search_box {
    position: relative;
    width: 200px;
    height: 37px;
    
}

header .container .search_wrap .search_box .input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    border-radius: 100px;
    font-size: 15px;
}

header .container .search_wrap .search_box .btn {
    position: absolute;
    top: 3.5px;
    right: 5px;
    width: 70px;
    height: 30px;
    font-size: 12px;
    background: #7690da;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 25px;
}

.search_wrap .search_box .input {
    border-radius: 50px;
}

.search_wrap .search_box .input:hover {
    background: rgb(255, 255, 255);
}

.dropdown-menu {
     {$prefix}dropdown-zindex: {$zindex-dropdown}; 
     {$prefix}dropdown-min-width: #{$dropdown-min-width}; 
     --#{$prefix}dropdown-padding-x: {$dropdown-padding-x};
     --#{$prefix}dropdown-padding-y: #{$dropdown-padding-y}; 
     --#{$prefix}dropdown-spacer: #{$dropdown-spacer}; 
     @include rfs($dropdown-font-size, 
     --#{$prefix}dropdown-font-size); 
     --#{$prefix}dropdown-color: #{$dropdown-color}; 
     --#{$prefix}dropdown-bg: #{$dropdown-bg}; 
     --#{$prefix}dropdown-border-color: #{$dropdown-border-color}; 
     --#{$prefix}dropdown-border-radius: #{$dropdown-border-radius}; 
     --#{$prefix}dropdown-border-width: #{$dropdown-border-width}; 
     --#{$prefix}dropdown-inner-border-radius: #{$dropdown-inner-border-radius}; 
     --#{$prefix}dropdown-divider-bg: #{$dropdown-divider-bg}; 
     --#{$prefix}dropdown-divider-margin-y: #{$dropdown-divider-margin-y}; 
     --#{$prefix}dropdown-box-shadow: #{$dropdown-box-shadow};
     --#{$prefix}dropdown-link-color: #{$dropdown-link-color}; 
     --#{$prefix}dropdown-link-hover-color: #{$dropdown-link-hover-color}; 
     --#{$prefix}dropdown-link-hover-bg: #{$dropdown-link-hover-bg}; 
     --#{$prefix}dropdown-link-active-color: #{$dropdown-link-active-color}; 
     --#{$prefix}dropdown-link-active-bg: #{$dropdown-link-active-bg}; 
     --#{$prefix}dropdown-link-disabled-color: #{$dropdown-link-disabled-color}; 
     --#{$prefix}dropdown-item-padding-x: #{$dropdown-item-padding-x}; 
     --#{$prefix}dropdown-item-padding-y: #{$dropdown-item-padding-y};
     --#{$prefix}dropdown-header-color: #{$dropdown-header-color}; 
     --#{$prefix}dropdown-header-padding-x: #{$dropdown-header-padding-x};
     --#{$prefix}dropdown-header-padding-y: #{$dropdown-header-padding-y}; 
}
