* {
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #5a5a5a;
}

img {
  cursor: pointer;
}

.flex-div {
  display: flex;
  align-items: center;
}

nav {
  padding: 0 2%;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background: rgb(254, 157, 12);
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-right img {
  width: 25px;
  margin-right: 25px;
}

.nav-right .user-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 0;
}

.nav-right .addbook-icon {
  width: 35px;
  height: 35px;
}

.nav-left .menu-icon {
  width: 22px;
  margin-right: 25px;
}

.nav-left .logo {
  width: 200px;
}

.nav-middle .search-box{
  width: 330px;
  float: left;
  margin-left: 50px;
  margin-bottom: 20px;
}

.nav-middle .search-box .search{
  width: 200px;
  height: 40px;
  background: #fff;
  border: 1px solid #ff7200;
  margin-top: 13px;
  color: rgb(96, 96, 96);
  border-right: none;
  font-size: 16px;
  float: left;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.nav-middle .search-box .button img{
  width: 16px;
  height: 16px;
}

.nav-middle .search-box .button{
  width: 100px;
  height: 40px;
  background: #ff7200;
  border: 2px solid #ff7200;
  margin-top: 13px;
  color: #fff;
  font-size: 15px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: 0.2s ease;
  cursor: pointer;
}
.nav-middle .search-box  .button:hover{
  color: #000;
}

.nav-middle .search-box .button:focus{
  outline: none;
}

.nav-middle .search-box .search:focus{
  outline: none;
}

.nav-middle .filter-icon{
  width: 25px;
  margin-bottom: 12px;
}




.user-info {
  display: flex;
  align-items: center;
}

.user-info h3 {
  font-weight: 500;
}

.user-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.sub-menu-wrap {
  position: absolute;
  top: 100%;
  width: 320px;
  max-height: 0px;
  transition: max-height 0.5s;
  overflow: hidden;
  right: 0;
}

.sub-menu-wrap.open-menu {
  max-height: 450px;
}

.sub-menu {
  background: #fff;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

.sub-menu hr {
  border: 0;
  height: 1px;
  width: 100%;
  margin: 15px 0 10px;
}

.sub-menu-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #575757;
  margin: 12px 0;
  transition: 0.5s;
}

.sub-menu-link p {
  margin-left: 10px;
  width: 100%;
  margin: 12px 0;
}

.sub-menu-link img {
  width: 40px;
  padding: 8px;
  margin-right: 15px;
}

.sub-menu-link:hover {
  background: rgb(250, 179, 92);
  font-weight: 400;
  color: #fff;
  border-radius: 6px;
}

.sub-menu-wrap .sub-menu button {
  position: relative;
  margin-left: 25px;
}

.sub-menu-wrap .sub-menu .in-button {
  width: 100px;
  height: 40px;
  background: rgb(254, 153, 0);
  padding: 1px;
  border: 0;
  color: #fff;
  outline: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.2s;
}

.sub-menu-wrap .sub-menu .in-button:hover {
  background: rgb(254, 119, 0);
}

.sub-menu-wrap .sub-menu .out-button {
  width: 100px;
  height: 40px;
  background: rgb(36, 36, 36);
  padding: 1px;
  border: 0;
  color: #fff;
  outline: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.2s;
}

.sub-menu-wrap .sub-menu .out-button:hover {
  background: rgb(0, 0, 0);
}






.sub-tab-wrap {
  position: absolute;
  top: 100%;
  width: 320px;
  max-height: 0px;
  transition: max-height 0.5s;
  overflow: hidden;
  left: 0;
}

.sub-tab-wrap.open-tab {
  max-height: 400px;
}

.sub-tab {
  background: #fff;
  padding: 20px;
  margin: 10px;
  border-radius: 6px;
}

.sub-tab p {
  list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sub-tab p {
  background-color: var(--primary-color);
}

.sub-tab-link:hover {
  background: rgb(250, 179, 92);
  font-weight: 400;
  color: #fff;
  border-radius: 6px;
}

.sub-filter-wrap {
  position: absolute;
  top: 100%;
  width: 320px;
  transition: max-height 0.5s;
  max-height: 0px;
  overflow: hidden;
  left: 49%;
}

.sub-filter-wrap.open-filter {
  max-height: 400px;
}

.sub-filter {
  background: #fff;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}


.sub-filter-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #575757;
  margin: 12px 0;
}

.sub-filter-link p {
  width: 100%;
  margin-left: 6%;
}

.sub-filter-wrap .sub-filter input[type="submit"] {
  width: 100%;
  height: 50px;
  border: 1px solid;
  border-radius: 25px;
  background: #fa8d49;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

.sub-filter-wrap .sub-filter input[type="submit"]:hover {
  background: #ea6919;
  transition: 0.5s;
}

.user-info h3 {
  font-weight: 500;
}

.user-info img {
  width: 60px;
  border-radius: 50%;
  margin-right: 15px;
}

.sub-menu hr {
  border: 0;
  height: 1px;
  width: 100%;
  background: rgb(86, 86, 86);
  margin: 15px 0 10px;
}

.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #575757;
  margin: 12px 0;
}

.btn:hover {background: #eee;}

.sub-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #575757;
  margin: 12px 0;
}

.sub-menu-link img {
  width: 40px;
  border-radius: 35%;
  padding: 8px;
  margin-right: 15px;
}

.sub-menu-link span {
  margin-right: 5px;
  font-size: 22px;
  transition: transform 0.5s;
}

.sub-menu-link:hover span {
  transform: translateX(5px);
}

.sub-menu-link:hover p{
  font-weight: 600;
}

.user-info {
  display: flex;
  align-items: center;
}



.sub-filter-wrap .sub-filter input[type="checkbox"] {
  position: relative;
  width: 60px;
  height: 25px;
  -webkit-appearance: none;
  background: #c6c6c6;
  outline: none;
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.sub-filter-wrap .sub-filter input:checked[type="checkbox"] {
  background: #03a9f4;
}

.sub-filter-wrap .sub-filter input[type="checkbox"]:before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  top: 0;
  left: 0;
  background: #fff;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.sub-filter-wrap .sub-filter input:checked[type="checkbox"]:before {
  left: 24px;
}



.sub-filter-wrap .sub-filter .select-menu{
  width: 200px;
  outline: none;
  margin: 20px auto;
  margin-right: 23%;
}
.sub-filter-wrap .sub-filter .select-menu .select-btn{
  outline: none;
  height: 55px;
  background: #fff;
  padding: 20px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 8px;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
}
.sub-filter-wrap .sub-filter .select-btn i{
  font-size: 16px;
  transition: 0.3s;
}
.sub-filter-wrap .sub-filter .select-menu.active .select-btn i{
  transform: rotate(-180deg);
}
.sub-filter-wrap .sub-filter .select-menu .options{
  padding: 20px;
  outline: none;
  margin-top: 10px;
  border-radius: 8px;
  background: #fff;
  box-shadow: inset 0 0 3px rgba(0,0,0,0.1);
  display: none;
  pointer-events: auto;
}
.sub-filter-wrap .sub-filter .select-menu.active .options{
  outline: none
  display: block;
}
.sub-filter-wrap .sub-filter .options .option{
  outline: none;
  display: flex;
  height: 40px;
  cursor: pointer;
  padding: 0 16px;
  border-radius: 8px;
  align-items: center;
  background: #fff;
}
.sub-filter-wrap .sub-filter .options .option:hover{
  background: #fcca7f;
}
.sub-filter-wrap .sub-filter .option i{
  font-size: 16px;
  margin-right: 12px;
}
.sub-filter-wrap .sub-filter .option .option-text{
  font-size: 16px;
  color: #333;
}




.sub-tab-wrap {
  position: absolute;
  top: 100%;
  width: 320px;
  max-height: 0px;
  transition: max-height 0.5s;
  overflow: hidden;
  right: 0;
}

.sub-tab-wrap.open-tab {
  max-height: 450px;
}

.sub-tab {
  background: #fff;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

.sub-tab-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #575757;
  margin: 12px 0;
  transition: 0.5s;
}

.sub-tab-link p {
  width: 100%;
  margin: 12px 0;
}

.sub-tab-link:hover {
  background: rgb(250, 179, 92);
  font-weight: 400;
  color: #fff;
  border-radius: 6px;
}





.product {
  position: relative;
  overflow: hidden;
  padding: 20px;
}

.product-category {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: capitalize;
}

.product-container {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 auto;
  width: 250px;
  height: 450px;
  margin-right: 40px;
  transition: 0.5s;
}

.product-card:hover {
    transform: scale(1.04);
  }

.product-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.5);
}

.product-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background: #ff7d7d;
  color: #fff;
}

.product-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}

.product-brand {
  text-transform: uppercase;
}

.product-short-description {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

.collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collection {
  position: relative;
}

.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}

.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
}





.slider{
  width: 1600px;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
  transform: translate(2.5%);
  margin-left: 14.5px;
  margin-top: 7px;
}

.slides{
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 4s;
}

.slide img{
  width: 1600px;
  height: 600px;
}

/*css for manual slide navigation*/

.navigation-manual{
  position: absolute;
  width: 800px;
  margin-top: -125px;
  display: flex;
  justify-content: center;
  margin-left: 20%;
}

.manual-btn{
  border: 2px solid #f8ac32;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 4s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: #f8ac32;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto{
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 374.8px;
  margin-left: 252.7px;
}

.navigation-auto div{
  border: 2px solid #f8ac32;
  padding: 5px;
  border-radius: 10px;
  transition: 4s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #f8ac32;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: #f8ac32;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: #f8ac32;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background: #f8ac32;
}