@import url('http://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    background: #fff;
    min-height: 200vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
}
header.sticky {
    padding: 5px 100px;
    background: rgb(224, 157, 0);
}

header .logo {
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
    display: inline-block;
}

header ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: rgb(163, 110, 5);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

header ul li:hover::after {
    width: 100%;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;

}

.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('images/background.jpg');
}

header.sticky .logo,
header.sticky ul li a {
    color: #000;
}

header .container .input {
    border: 0;
    outline: none;
    color: #8b7d77;
}

header .container .search_wrap {
    width: 200px;
}

header .container .search_wrap .search_box {
    position: relative;
    width: 200px;
    height: 37px;
    
}

header .container .search_wrap .search_box .input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    border-radius: 100px;
    font-size: 15px;
}

header .container .search_wrap .search_box .btn {
    position: absolute;
    top: 3.5px;
    right: 5px;
    width: 70px;
    height: 30px;
    font-size: 12px;
    background: #7690da;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 25px;
}

.search_wrap .search_box .input {
    border-radius: 50px;
}

.search_wrap .search_box .input:hover {
    background: rgb(255, 255, 255);
}

.sidenav {

  height: 100%;

  width: 200px;

  position: fixed;

  z-index: 1;

  top: 0;

  left: 0;

  background-color: #111;

  overflow-x: hidden;

  padding-top: 20px;

}

.sidenav a, .dropdown-btn {

  padding: 6px 8px 6px 16px;

  text-decoration: none;

  font-size: 20px;

  color: #818181;

  display: block;

  border: none;

  background: none;

  width:100%;

  text-align: left;

  cursor: pointer;

  outline: none;

}

/* On mouse-over */

.sidenav a:hover, .dropdown-btn:hover {

  color: #f1f1f1;

}

.main {

  margin-left: 200px; /* Same as the width of the sidenav */

  font-size: 20px; /* Increased text to enable scrolling */

  padding: 0px 10px;

}

/* Add an active class to the active dropdown button */

.active {

  background-color: green;

  color: white;

}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */

.dropdown-container {

  display: none;

  background-color: #262626;

  padding-left: 8px;

}

/* Optional: Style the caret down icon */

.fa-caret-down {

  float: right;

  padding-right: 8px;

}
