{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile</title>
    <link rel="stylesheet" href="{% static 'editProfile/style.css' %}">
</head>

<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}
    <form class="card" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card-profile">
            <div class="image-profile">
                {% if not user.profile_pic %}
                <img src="{% static 'editProfile/images/img1.jpg' %}">
                {% else %}
                <img src="{{ user.profile_pic.url }}">
                {% endif %}
                <div class="browse">
                    <input type="file" name="profile_pic" accept="image/png, image/jpeg"></input>
                </div>
            </div>
            <div class="name">
                <h5>Alias name</h5>
                {% if not user.alias_name %}
                <input type="text" placeholder="Your desire name..." name="alias_name" class="input-edit">
                {% else %}
                <input type="text" name="alias_name" value="{{user.alias_name}}" class="input-edit">
                {% endif %}
                <input type="file" name="profile_pic" class="browse" accept="image/png, image/jpeg"></input>
            </div>
            <div class="name">
                <input type="text" placeholder="Alias Name" name="alias_name"
                value="{{user.alias_name}}" class="input-edit">
            </div>
        </div>
        <div class="card-content">
            <h2>Bio</h2>
            {% if not user.bio %}
            <textarea cols="40" rows="5" placeholder="Enter your bio..." name="bio"></textarea>
            {% else %}
            <textarea cols="40" rows="5" placeholder="Enter your bio..." name="bio" value="{{ user.bio }}"></textarea>
            {% endif %}
        </div>
        <div class="my-choise">
            <h5>Email</h5>
            <input type="text" placeholder="E-mail" name="email" value="{{user.email}}" required class="edit-choise">
            <h5>Age</h5>
            {% if not user.age %}
            <input type="text" placeholder="Your age..." name="age" class="edit-choise">
            {% else %}
            <input type="text" placeholder="Your age..." name="age" value="{{user.age}}" class="edit-choise">
            {% endif %}
            <h5>Gender</h5>
            {% if not user.gender %}
            <input type="text" placeholder="etc: Helicopter" name="gender" class="edit-choise">
            {% else %}
            <input type="text" placeholder="etc: Helicopter" name="gender" value="{{user.gender}}" class="edit-choise">
            {% endif %}
            <h5>Occupation</h5>
            {% if not user.occupation %}
            <input type="text" placeholder="etc: Home, Office, University" name="occupation" class="edit-choise">
            {% else %}
            <input type="text" placeholder="etc: Home, Office, University" name="occupation" value="{{user.occupation}}"
                class="edit-choise">
            {% endif %}
        </div>
        <!--
    <p>social_link</p>
    <input type="text" name="social_link" id="" value="{{user.social_link}}" >
    <p>donation_link</p>
    <input type="text" name="donation_link" id="" value="{{donation_link.alias_name}}" >
    <p><img id="output" width="200" /></p>
    <p>profile_pic</p>
    <input type="file" name="profile_pic" id="" accept="image/png, image/jpeg" onchange="loadFile(event)" >
    <input type="submit" value="submit" name="" id="">
    -->
        <div class="icons">
            <a href="#"><img src="{% static 'editProfile/images/facebook.png' %}"></a>
            <a href="#"><img src="{% static 'editProfile/images/instagram.png' %}"></a>
            <a href="#"><img src="{% static 'editProfile/images/patreon.png' %}"></a>
            <a href="#"><img src="{% static 'editProfile/images/tiktok.png' %}"></a>
            <a href="#"><img src="{% static 'editProfile/images/youtube.png' %}"></a>
        </div>
        <button class="confirm" type="submit">Confirm</button>
        <button class="cancle" type="submit" name="cancel" value="C">Cancle</button>
        <!--
<script>
    var loadFile = function(event) {
        var image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
    };
    </script>
    -->
    </form>
</body>

</html>