{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile</title>
    <link rel="stylesheet" href="{% static 'review/style.css' %}">
</head>
<body>
    <div class="card">
        <div class="card-profile">
        <form method="post">
        {% csrf_token %}
            <div class="reportbook">
                <h2>Reviewing {{ book.book_name }}</h2><p> {{ book.book_id }}</p>
            </div>
            <div class="image-profile">
                <img src="{% url 'book_views:book_thumbnail' book.book_id %}">
            </div>
            <div class="name">
                <h1>Title</h1>
                <input type="text" placeholder="Title" name="title" required class="input-edit">
            </div>
        </div>
        <div class="card-content">
            <di class="select-menu">
                <div class="select-btn">
                    <span class="sBtn-text">Scores</span>
                    <i class="bx bx-chevron-down"></i>
                </div>
        
                <select class="options" name="score">
                    <option class="option" value="0.0">
                        <span class="option-text">0</span>
                    </option>
                    <option class="option" value="0.5">
                        <span class="option-text">0.5</span>
                    </option>
                    <option class="option" value="1.0">
                        <span class="option-text">1</span>
                    </option>
                    <option class="option" value="1.5">
                        <span class="option-text">1.5</span>
                    </option>
                    <option class="option" value="2.0">
                        <span class="option-text">2</span>
                    </option>
                    <option class="option" value="2.5">
                        <span class="option-text">2.5</span>
                    </option>
                    <option class="option" value="3.0">
                        <span class="option-text">3</span>
                    </option>
                    <option class="option" value="3.5">
                        <span class="option-text">3.5</span>
                    </option>
                    <option class="option" value="4.0">
                        <span class="option-text">4</span>
                    </option>
                    <option class="option" value="4.5">
                        <span class="option-text">4.5</span>
                    </option>
                    <option class="option" value="5.0">
                        <span class="option-text">5</span>
                    </option>
                </select>
        </div>
        <div class="text-box">
            <h1>what do you have to say?</h1>
            <textarea type="text" cols="40" rows="5" name="msg" placeholder="Enter your opinions here..."></textarea>
        </div>
        <div class="button">
            <button class="confirm" type="submit">Review</button>
        </div>
        </form>
        <div class="button">
            <form action="../">
                <button class="cancle" type="submit">Cancel</button>
            </form>
        </div>
    </div>
    <script src="{% static 'review/script.js' %}"></script>
</body>
</html>