{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile</title>
    <link rel="stylesheet" href="{% static 'review/style.css' %}">
</head>
<body>
    <form class="card" method="post">
        {% csrf_token %}
        <div class="card-profile">
            <div class="reportbook">
                <h2>Reviewing {{ book.book_name }}</h2><p> {{ book.book_id }}</p>
            </div>
            <div class="image-profile">
                <img src="{{ book.thumbnail.url }}">
            </div>
            <div class="name">
                <h1>Title</h1>
                <input type="text" placeholder="Title" name="title" required class="input-edit">
            </div>
        </div>
        <div class="card-content">
            <di class="select-menu">
                <div class="select-btn">
                    <span class="sBtn-text">Scores</span>
                    <i class="bx bx-chevron-down"></i>
                </div>
        
                <select class="options">
                    <option class="option">
                        <span class="option-text">0</span>
                    </option>
                    <option class="option">
                        <span class="option-text">0.5</span>
                    </option>
                    <option class="option">
                        <span class="option-text">1</span>
                    </option>
                    <option class="option">
                        <span class="option-text">1.5</span>
                    </option>
                    <option class="option">
                        <span class="option-text">2</span>
                    </option>
                    <option class="option">
                        <span class="option-text">2.5</span>
                    </option>
                    <option class="option">
                        <span class="option-text">3</span>
                    </option>
                    <option class="option">
                        <span class="option-text">3.5</span>
                    </option>
                    <option class="option">
                        <span class="option-text">4</span>
                    </option>
                    <option class="option">
                        <span class="option-text">4.5</span>
                    </option>
                    <option class="option">
                        <span class="option-text">5</span>
                    </option>
                </select>
            </div>
        <div class="card-content">
            <h1>what do you have to say?</h1>
            <textarea type="text" cols="40" rows="5" name="msg" placeholder="Enter your opinions here..."></textarea>
        </div>
        <div class="button">
            <button class="confirm" type="submit">Review</button>
            <button class="cancle" type="submit">Cancle</button>
        </div>
    </form>
    <script src="{% static 'review/script.js' %}"></script>
</body>
</html>