{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{book.book_name}}</title>
    <link rel="stylesheet" href="{% static 'book_view/style.css' %}">
</head>

<body>
    <div class="card">
        <div class="logo">
            <a href="{% url 'MAIN_APP:home' %}"><img src="{% static 'bookpage/images/logo.png' %}" alt="" style="height: 150px;padding-left: 40px;"></a>
        </div>
        <div class="content">
            <div class="image-profile">
                <img src="{% url 'book_views:book_thumbnail' book.book_id %}" alt="" style="margin-left: 80px;">
                <div class="favorite">
                <form action="{% url 'book_views:book_favorite' book.book_id %}">
                    <input type="submit" name="" value={% if favorite %}"Unfavorite"{% else %} Favorite {% endif %} id="" >
                </form>
            </div>
            </div>
            <div class="book_attribs">
                <h1 style="display: inline-block;">{{book.book_name}}  </h1>
                <small>({{book.book_id}})</small>
                    <h3>Author:  <a href="">{{ book.author.username }}</a></h3>
                <h3>Rating:
                    {% if has_reviews %}
                    {{ book.get_avg_score }}
                    {% else %}
                    No one rate this book yet!
                    {% endif %}
                </h3>
                <h3>Type: {% if book.book_type == 1 %} Education {% else %} Entertainment {% endif %}</h3>
                <h3>Genre: {% for genre in book.get_genres %} {{genre}} {% endfor %}</h3>
                <h3>Description</h3>
                <div>{{book.description}}</div>
            </div>
        </div>
        <div class="adtribute">
            <div>
                <form action="{% url 'book_views:messaging:reviews' book.book_id %}">
                    <input type="submit" name="" value="Read Review ({{book.get_reviews.count}})" id="" >

                </form>

            </div>
            <div>
                <form action="{% url 'book_views:messaging:issues' book.book_id %}">
                    <input type="submit" name="" value="Read Issues ({{book.get_issues.count}})" id="" >

                </form>

            </div>
            {% if not is_author %}
            <div>
                <form action="create_review">
                    <input class="maker" type="submit" name="" value="Create Review" id="" >

                </form>

            </div>
            <div>
                <form action="create_issue">
                    <input class="maker" type="submit" name="" value="Create Issues" id="" >

                </form>

            </div>
            <div>
                <form action="create_report">
                    <input class="report" type="submit" name="" value="Report This Book" id="" >

                </form>

            </div>
            {% endif %}
        </div>
        
    </div>
    <div class="read">
        <form action="{% url 'book_views:book_pdf' book.book_id %}">
        <input type="submit" name="" value="Read PDF" id="" style="padding: 40px 557px; box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.5); transform: translate(5%, 5%); ">

        </form>
    </div>

</body>

</html>