<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="card">
        <div class="card-profile">
            <div class="image-profile">
                <img src="images/img1.jpg" />
            </div>
        </div>
        <div class="card-content">
            <h2 class="title">PumPuy' Story</h2>
            <h1 class="name">Its me PumPuy</h1>
            <button type="submit" class="open"><h2>Open to Read</h2></button>
            <button type="submit" class="feedback">Reviews</button>
            <button type="submit" class="feedback">Issues</button>
            <button type="submit" class="feedback">Report</button>
            <button type="submit" class="cancle">Exit</button>
            <p>bra bra bra bra bra bra bra bra bra bra bra bra bra bra bra bra bra bra bra bra</p>
        </div>
        <div class="gore">
            <button type="submit" class="suggestive"><h2>SUGGESTIVE</h2></button>
            <button type="submit" class="gore-head"><h2>GORE</h2></button>
            <button type="submit" class="type"><h2>COMEDY</h2></button>
            <button type="submit" class="type"><h2>MONSTERS</h2></button>
            <button type="submit" class="type"><h2>DEMONS</h2></button>
            <button type="submit" class="type"><h2>BIOLOGY</h2></button>
            <button type="submit" class="type"><h2>MATH</h2></button>
        </div>

    </div>
</body>
</html>

