{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile</title>
    <link rel="stylesheet" href="{% static 'addbook/style.css' %}">
</head>
<body>
    <div class="card">
        <div class="card-profile">
            <div class="image-profile">
                <img src="images/img1.jpg">
            </div>
            <div class="browse">
                <button class="browse-btn" type="file" name="thumbnail" accept="image/png, image/jpeg">Choose your thumbnail</button>
                <button class="browse-btn" type="file" name="pdf_files" id="" accept="pdf_files">Browes PDF</button>
            </div>
            <p>Genres</p>
            <div class="type-head">
                <button type="submit" class="type"><h2>COMEDY</h2></button>
                <button type="submit" class="type"><h2>MONSTERS</h2></button>
                <button type="submit" class="type"><h2>DEMONS</h2></button>
                <button type="submit" class="type"><h2>BIOLOGY</h2></button>
                <button type="submit" class="type"><h2>MATH</h2></button>
            </div>
        </div>
        <div class="card-content">
            <h2 class="title">Create Book</h2>
            <p>Book Name</p>
            <input type="text" placeholder="Book Name" required class="name">
            <p>Book's short story</p>
            <textarea type="text" cols="40" rows="5" placeholder="Enter your Book's short story here..."></textarea>
            <p>Book Type</p>
            <div class="select-menu">
                <div class="select-btn">
                    <span class="sBtn-text">Select your option</span>
                    <i class="bx bx-chevron-down"></i>
                </div>
        
                <ul class="options">
                    <li class="option">
                        <span class="option-text">Education</span>
                    </li>
                    <li class="option">
                        <span class="option-text">Entertain</span>
                    </li>
                </ul>
            </div>
            <div class="button">
                <button class="confirm" type="submit">Confirm</button>
                <button class="cancle" type="submit">Cancle</button>
            </div>
        </div>

    </div>
    <script src="script.js"></script>
</body>
</html>



