{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile</title>
    <link rel="stylesheet" href="{% static 'addbook/style.css' %}">
</head>
<body>
    <div class="card">
        <div class="card-profile">
            <div class="image-profile">
                <img src="{% static 'addbook/images/not found book.jpg' %}">
            </div>
            <div class="browse">
                <button class="browse-btn" type="submit">Browes IMG</button>
                <button class="browse-btn" type="submit">Browes PDF</button>
            </div>
            <div class="type-head">
                <p>Genres</p>
                <div class="group">
                  <input type="checkbox" id="xd" />
                  <label for="xd">COMEDY</label>
                </div>
          
                <div class="group">
                  <input type="checkbox" id="figma" />
                  <label for="figma">MONSTERS</label>
                </div>
          
                <div class="group">
                  <input type="checkbox" id="sketch" />
                  <label for="sketch">DEMONS</label>
                </div>
              </div>
        </div>
        <div class="card-content">
            <h2 class="title">Create Book</h2>
            <p>Book Name</p>
            <input type="text" placeholder="Book Name" required class="name">
            <p>Book's short story</p>
            <textarea type="text" cols="40" rows="5" placeholder="Enter your Book's short story here..."></textarea>
            <p>Book Type</p>
            <div class="select-menu">
                <div class="select-btn">
                    <span class="sBtn-text">Select your option</span>
                    <i class="bx bx-chevron-down"></i>
                </div>
        
                <label class="options">
                    <option class="option">
                        <span class="option-text">Education</span>
                    </option>
                    <option class="option">
                        <span class="option-text">Entertain</span>
                    </option>
                </label>
            </div>
            <div class="button">
                <button class="confirm" type="submit">Confirm</button>
                <button class="cancle" type="submit">Cancle</button>
            </div>
        </div>

    </div>
    <script src="script.js"></script>
</body>
</html>



