{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile</title>
    <link rel="stylesheet" href="{% static 'addbook/style.css' %}">
</head>
<body>
    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

    <div class="card">
        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card-profile">
                <div class="image-profile">
                    <img id="output" src="{% static 'addbook/images/not found book.jpg' %}">
                </div>
                <div class="browse">
                    <input type="file" name="thumbnail" id="" accept="image/png, image/jpeg"  onchange="loadFile(event)">
                    <input type="file" name="pdf_files" id="" accept="pdf_files">
                    <!-- <button class="browse-btn" type="button">Browes IMG</button> -->
                    <!-- <button class="browse-btn" type="button">Browes PDF</button> -->
                </div>
                <div class="type-head">
                    <p>Genres</p>
                    {% for genre in genres %}
                    <div class="group">
                        <input type="checkbox" id="{{genre.genre_list}}" name="genres" value="{{genre.genre_list}}"/>
                        <label for="{{genre.genre_list}}">{{genre.genre_list}}</label>
                      </div>
  
                    {% endfor %}
                </div>
                                  
            </div>
            <div class="card-content">
                <h2 class="title">Create Book</h2>
                <p>Book Name</p>
                <input type="text" placeholder="Book Name" required name="book_name" class="name">
                <p>Book's short story</p>
                <textarea type="text" cols="40" name="description" rows="5" placeholder="Enter your Book's short story here..."></textarea>
                <p>Book Type</p>
                <div class="select-menu">
                    
                        <select name="book_type" id="" class="select-btn">
                            <option value="1"><span class="option-text">Education</span></option>
                            <option class="option" value="2">
                                <span class="option-text">Entertain</span>
                            </option>
                        </select>   
                    
                    
                </div>
                
                <!-- <div class="select-menu">
                    <div class="select-btn">
                        <span class="sBtn-text">Select your option</span>
                        <i class="bx bx-chevron-down"></i>
                    </div>
            
                    <select class="options">
                        <option class="option">
                            <span class="option-text">Education</span>
                        </option>
                        <option class="option">
                            <span class="option-text">Entertain</span>
                        </option>
                    </select>
                </div> -->
                <div class="button">
                    <button class="confirm" type="submit">Confirm</button>
                    <a href="{% url 'MAIN_APP:home' %}"><button class="cancle" type="button">Cancle</button></a>
                    
                </div>
            </div>
        </form>
        

    </div>
    <!-- <script src="script.js"></script> -->
    <script> 
         var loadFile = function(event) {
	var image = document.getElementById('output');
	image.src = URL.createObjectURL(event.target.files[0]);
};
     </script>
</body>
</html>



