{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UFT-8">
    <meta name="viewport" content="width=device-eidth, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bookpage/style.css' %}">
</head>

<body>
<h1>This is book views</h1>
<img src="/media/{{ book.id }}/{{ book.thumbnail }}" class="product-thumb">
<p>book_name: {{book.book_name}}</p>
<p>description: {{book.description}}</p>
<p>date_created: {{book.date_created}}</p> 
<p>book_type: {{book.book_type}}</p>
<p>genres: {{book.genres}}</p>
<p>author: {{book.author}}</p>
<hr>
{% for review in reviews%}
<p>reviewer: {{ review.reviewer.username}}</p>
<p>score: {{ review.score }}</p>
<p>title: {{ review.title }}</p>
<p>msg: {{ review.msg }}</p>
{% endfor %}
<hr>
{% for favorite_book in favorite_books%}
<p>favorite: {{favorite_book.user_refer}}</p>
{% endfor %}
<p>avg_score: {{avg_score}}</p>

</body>
</html>