* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

body{
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #fff;
  }

.card {
  width: 94.6%;
  height: 220%;
  transform: translate(3%, 3%);
  overflow: hidden;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0,5);
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.5);
  z-index: 10;
} 

.card-profile{
  height: 150px;
  background: rgb(254, 157, 12);
}

.image-profile{
  background: white;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 15px;
  transform: translate(100px,100px);
  cursor: pointer;
}



.card-profile .name {
  font-size: 25px;
  text-align: left;
  margin-left: 300px;
  margin-top: 10px;
}

.card-profile .name .input-edit {
    width: 70%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #fff;
    outline: none;
    font-size: 16px;
    color: rgb(186, 127, 0);
    background: #fff;
    box-shadow: inset 0 5px 60px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.image-profile img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.card-profile a {
  font-size: 16px;
  font-weight: 400;
  color: rgb(203, 122, 0);
  text-decoration: none;
  margin-left: 20px;
  transition: 0.2s;
}

.card-profile a:hover {
  color: rgb(255, 153, 0);
}

input[type="file"] {
  z-index: -2;
}

.card-profile .image-profile .browse {
    display:inline-block;
    position: flex;
    width: 80%;
    margin-left: 10%;
    background-color: rgb(253, 168, 41);
    padding: 10px;
    border: 0;
    color: #fff;
    outline: none;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.2s;
}

.card-profile .image-profile .browse:hover {
    background: rgb(255, 153, 0);
}

.card-content {
  margin-top: 170px;
  margin-left: 20%;
}

.card-content h2 {
  margin-left: 90px;
  text-align:left;
  padding: 0 1px 10px 20px;
}

.card .card-content textarea {
    width: 70%;
    padding: 10%;
    margin: 30px 50px;
    border: 1px solid #fff;
    outline: none;
    font-size: 16px;
    color: rgb(186, 127, 0);
    background: #fff;
    box-shadow: inset 0 5px 60px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.card .my-choise {
  position: relative;
  margin-left: 90px;
  text-align:left;
  padding: 0 1px 10px 20px;
}

.card .my-choise h1 {
  font-size: 16px;
}

.card .my-choise .edit-choise {
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #fff;
    outline: none;
    font-size: 16px;
    color: rgb(186, 127, 0);
    background: #fff;
    box-shadow: inset 0 5px 60px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.card-content p{
  margin-left: 70px;
  font-size: 16px;
  text-align:left;
  padding: 0 50px 50px 20px;
}

.icons{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.icons a{
  text-decoration: none;
  font-size: 20px;
  color: #0ABDE3;
  padding: 0 14px;
  transition-duration: 0.4s;
  transition-property: transform;
}

.icons img {
  width: 40px;
  height: 40px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
}

.card .confirm {
    position: flex;
    width: 50%;
    margin-left: 25%;
    background: rgb(253, 168, 41);
    padding: 10px;
    border: 0;
    color: #fff;
    outline: none;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.2s;
}

.card .confirm:hover {
    background: rgb(255, 153, 0);
}

.card .cancle {
    position: flex;
    width: 50%;
    margin-left: 25%;
    background: rgb(43, 43, 43);
    padding: 10px;
    border: 0;
    color: #fff;
    outline: none;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.2s;
}

.card .cancle:hover {
    background: rgb(0, 0, 0);
}